<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyili.mapper.DishMapper">

    <!--实现分页查询-->
    <select id="list" resultType="com.leyili.dto.DishDto">
        select *
        from dish
        <where>
            <if test="name!=null and name!=''">
                name like concat('%',#{name},'%')
            </if>
        </where>
        order by update_time DESC
    </select>

    <!--修改菜品-->
    <update id="update">
        update dish
        <set>
            <if test="name!=null and name!=''">
                    name = #{name},
            </if>
            <if test="categoryId!=null and categoryId!=''">
                category_id = #{categoryId},
            </if>
            <if test="price!=null and price!=''">
                price = #{price},
            </if>
            <if test="code!=null and code!=''">
                code = #{code},
            </if>
            <if test="image!=null and image!=''" >
                image = #{image},
            </if>
            <if test="description!=null and description!=''" >
                description = #{description},
            </if>
            <if test="updateTime!=null" >
                update_time = #{updateTime},
            </if>
            <if test="updateUser!=null" >
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--批量起售停售-->
    <update id="status">
         update dish set status = #{status},update_user = #{empId},update_time = #{now}
         where id in
       <foreach collection="ids" item="id" separator="," open="(" close=")">
              #{id}
       </foreach>
    </update>

    <!--实现批量删除-->
    <delete id="delete">
        delete from dish
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>

</mapper>