<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyili.mapper.OrderMapper">

    <!-- 管理端订单明细分页查询-->
    <select id="list" resultType="com.leyili.pojo.Orders">
        select *
        from orders
        <where>
             <if test="number!=null and number !=''">
                     number=#{number}
             </if>
            <if test="beginTime!=null and endTime!=null">
                  and order_time between #{beginTime} and #{endTime}
            </if>
        </where>
    </select>
</mapper>