<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyili.mapper.SetmealMapper">



    <!--实现套餐分页查询-->
    <select id="page" resultType="com.leyili.dto.SetmealDto">
        select *
        from setmeal
        <where>
            <if test="name!=null and name!=''">
                name like concat('%',#{name},'%')
            </if>
        </where>
        order by update_time DESC
    </select>

    <!--实现批量起售停售-->
    <update id="status">
        update setmeal set status = #{status},update_user = #{empId},update_time = #{now}
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>


    <!--实现批量删除-->
    <delete id="delete">
         delete from setmeal
         where id in
         <foreach collection="ids" item="id" separator="," open="(" close=")">
              #{id}
         </foreach>
    </delete>

    <!--判断是否售卖,若售卖中 则抛出异常-->
    <select id="checkStatus" resultType="java.lang.Integer">
        select count(*)
        from setmeal
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and status = 1
    </select>

    <!--更新套餐基本信息-->
    <update id="update">
        update setmeal
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="categoryId!=null and categoryId!=''">
                category_id = #{categoryId},
            </if>
            <if test="price!=null and price!=''">
                price = #{price},
            </if>
            <if test="code!=null and code!=''">
                code = #{code},
            </if>
            <if test="image!=null and image!=''" >
                image = #{image},
            </if>
            <if test="description!=null and description!=''" >
                description = #{description},
            </if>
            <if test="updateTime!=null" >
                update_time = #{updateTime},
            </if>
            <if test="updateUser!=null" >
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>